<h2>Modificar usuario</h2>

<form (submit)="Actualizar(usuario)">
    <label>Id</label>
    <input type="text" id="id" name="id" [(ngModel)]="usuario.id" readonly>

    <label>Nombre</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="usuario.nombre">
    
    <label>Apellidos</label>
    <input type="text" id="apellidos" name="apellidos" [(ngModel)]="usuario.apellidos">

    <label>Telefono</label>
    <input type="text" id="telefono" name="telefono" [(ngModel)]="usuario.telefono">

    <label>username</label>
    <input type="text" id="username" name="username" [(ngModel)]="usuario.username">
    
    <label>Contrasena</label>
    <input type="text" id="contrasena" name="contrasena" [(ngModel)]="usuario.contrasena">

    <button type="submit">Modificar</button>
</form>