<div class="row">
    <div class="col-5 offset-4">
        <h2>Alta de usuario</h2>

        <form (submit)="Guardar()" #formularioAlta="ngForm" class="form">
            <label class="col-12" for="nombre">Nombre</label><br>
            <div class="row col-12">
                <input class="input-group" type="text" id="nombre" name="nombre" autocomplete="off"
                    [(ngModel)]="usuario.nombre" #nombre="ngModel" required placeholder="Introduce el nombre"><br><br>
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                    <div *ngIf="nombre.errors.required">
                        El nombre es obligatorio
                    </div>
                </div>
            </div><br>

            <label for="apellidos" class="col-12">Apellidos</label><br>
            <div class="row col-12">
                <input type="text" class="input-group" id="apellidos" name="apellidos" autocomplete="off"
                    [(ngModel)]="usuario.apellidos" #apellidos="ngModel" required
                    placeholder="Introduce el apellido"><br><br>
                <div *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)" class="alert alert-danger">
                    <div *ngIf="apellidos.errors.required">
                        Los apellidos son obligatorios
                    </div>
                </div>
            </div><br>

            <label for="telefono" class="col-12">Telefono</label><br>
            <div class="row col-12">
                <input type="text" class="input-group" id="telefono" name="telefono" autocomplete="off"
                    [(ngModel)]="usuario.telefono" #telefono="ngModel" required
                    placeholder="Introduce el telefono"><br><br>
                <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
                    <div *ngIf="telefono.errors.required">
                        El telefono es obligatorio
                    </div>
                </div>
            </div><br>

            <label for="username" class="col-12">Username</label><br>
            <div class="row col-12">
                <input type="text" class="input-group" id="username" name="username" autocomplete="off"
                    [(ngModel)]="usuario.username" #username="ngModel" required placeholder="Introduce el username"
                    maxlength="6" pattern="[a-z]*$"><br><br>
                <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                    <div *ngIf="username.errors.required">
                        El username es obligatorio
                    </div>
                    <div [hidden]="!username.errors?.pattern">
                        El username solo admite letras minusculas
                    </div>
                </div>
            </div><br>

            <label for="contrasena" class="col-12">Contrasena</label><br>
            <div class="row col-12">
                <input type="password" class="input-group" id="contrasena" name="contrasena" autocomplete="off"
                    [(ngModel)]="usuario.contrasena" #contrasena="ngModel" required
                    placeholder="Introduce la contrasena"><br><br>
                <div *ngIf="contrasena.invalid && (contrasena.dirty || contrasena.touched)" class="alert alert-danger">
                    <div *ngIf="contrasena.errors.required">
                        La contrasena es obligatoria
                    </div>
                </div>
            </div><br>

            <label for="rol" class="col-12">Rol</label><br>
            <div class="row col-12">
                <input type="text" class="input-group" id="rol" name="rol" autocomplete="off" [(ngModel)]="usuario.rol"
                    #rol="ngModel" required placeholder="Introduce el rol"><br><br>
                <div *ngIf="rol.invalid && (rol.dirty || rol.touched)" class="alert alert-danger">
                    <div *ngIf="rol.errors.required">
                        El rol es obligatorio
                    </div>
                </div>
            </div><br>

            <button type="submit" [disabled]="!formularioAlta.form.valid" class="btn btn-primary">Crear</button>

        </form>
    </div>
</div>